[Unit]
Description=kafka Service
Documentation=http://kafka.apache.org
Requires=network.target
After=network.target

[Service]
Type=simple
Environment=KAFKA_LOG4J_OPTS="-Dlog4j.configuration=file:/etc/kafka/conf/log4j.properties"
Environment=KAFKA_HEAP_OPTS="-Xmx2G -Xms2G"
Environment=LOG_DIR={{ kafka_log_dir }}
User={{ kafka_user }}
Group={{ kafka_group }}
ExecStart={{ kafka_base_dir }}/bin/kafka-server-start.sh {{ kafka_config_file }}
ExecStop={{ kafka_base_dir }}/bin/kafka-server-stop.sh

[Install]
WantedBy=default.target