[Unit]
Description=ZooKeeper Service
Documentation=http://zookeeper.apache.org
Requires=network.target
After=network.target

[Service]
Type=forking
Environment="ZOOKEEPER_LOG_DIR={{ zookeeper_log_dir }}"
Environment="ZOOKEEPER_PID_DIR={{ zookeeper_pid_dir }}"
Environment="ZOOPIDFILE={{ zookeeper_pid_dir }}/zookeeper.pid"
User={{ zookeeper_user }}
Group={{ zookeeper_group }}
ExecStart={{ zookeeper_base_dir }}/bin/zkServer.sh --config {{ zookeeper_conf_dir }}/conf start {{ zookeeper_config_file }}
ExecStop={{ zookeeper_base_dir }}/bin/zkServer.sh --config {{ zookeeper_conf_dir }}/conf stop {{ zookeeper_config_file }}
ExecReload={{ zookeeper_base_dir }}/bin/zkServer.sh --config {{ zookeeper_conf_dir }}/conf restart {{ zookeeper_config_file }}
WorkingDirectory={{ zookeeper_working_dir }}

[Install]
WantedBy=default.target