ZOOKEEPER_CONF_DIR={{ zookeeper_conf_dir }}/conf
ZOOCFG={{ zookeeper_config_file }}
ZOOKEEPER_LOG_DIR={{ zookeeper_log_dir }}
ZOOKEEPER_HOME={{ zookeeper_base_dir }}
ZOOKEEPER_PID_DIR={{ zookeeper_pid_dir }}
ZOOPIDFILE={{ zookeeper_pid_dir }}/zookeeper.pid