[Unit]
Description=ZooKeeper Service
Documentation=http://zookeeper.apache.org
Requires=network.target
After=network.target

[Service]
Type=forking
EnvironmentFile={{ zookeeper_var_file }}
User={{ zookeeper_user }}
Group={{ zookeeper_group }}
ExecStart=$ZOOKEEPER_HOME/bin/zkServer.sh --conf $ZOOKEEPER_CONF_DIR start $ZOOCFG
ExecStop=$ZOOKEEPER_HOME/bin/zkServer.sh --conf $ZOOKEEPER_CONF_DIR stop $ZOOCFG
ExecReload=$ZOOKEEPER_HOME/bin/zkServer.sh --conf $ZOOKEEPER_CONF_DIR restart $ZOOCFG
WorkingDirectory={{ zookeeper_working_dir }}

[Install]
WantedBy=default.target